*{
    margin:0;
    box-sizing:border-box;
}
nav{
    position:absolute;
    z-index:4;
    width:100%;
    box-sizing:border-box;
}
nav ul{
    background-color:white;
    opacity:80%;
    overflow:hidden;
    list-style-type:none;
    text-align:center;
}
nav li{
    display:inline;

}
nav a.links{
    text-decoration:none;
    padding-left:15px;
    padding-right:15px;
    font-family:"Open Sans", sans-serif;
    font-size:14px;
    color:black;
    display:inline-block;
}
nav a.links:hover{
    color:#E30613;
    text-decoration-line:underline;
    text-decoration-color:#E30613;
}
nav .logo{
    padding-top:10px;
    padding-bottom:10px;
    vertical-align:middle;
    height:88px;
    width:330px;
    padding-right:70px;
    display:inline-block;
}
a.fa{
    padding:7px;
    font-size:24px;
    color:black;
    text-decoration:none;
    display:inline-block;
}
a.fa:hover {
    color: #E30613;
}
.fa.fa-check-circle{
    padding-left:70px;
}
body{
    background-color:white;
    margin:0 auto;
}
.mySlides{
    z-index:-1;
    width:100%;
    display:none;
}
.w3-animate-opacity{
    width:100%;
    margin:0 auto;
}

.headerText{
    background-size:contain;
    font-family:"Open Sans", sans-serif;
    z-index:3;
    top:37%;
    position:absolute;
    width:auto;
    height:auto;
    animation: mymove 1s ease-in-out 0s forwards;
    background-color:white;
    opacity:85%;
    border:white solid 30px;
    border-radius:10px;
    box-sizing:border-box;

}
.headerText p{
    color:black;
    font-size:16px;
    padding-bottom:35px;
}
.headerText h1{
    margin:0;
    font-size:39px;
    color:black;
    padding-bottom:10px;
}
.headerText a{
    color:white;
    background-color:#E30613;
    border:#E30613 solid 10px;
    border-radius:10px;
    text-decoration:none;
    font-size:18px;
    width:200px;
}
.headerText a:hover{
    text-decoration-line:underline;
    text-decoration-color:white;
}
@keyframes mymove {
    from {left: -360px;}
    to {left:14%;}
}
header{
    position:relative;
}
ul.redBar{
    background-color:#E30613;
    width:100%;
    text-align:center;
    overflow:hidden;
    padding:5px;
    box-sizing:border-box;
}
ul.redBar li{
    display:inline;
    padding-right:50px;
}
ul.redBar i{
    padding-left:10px;
    padding-right:10px;
    font-size:40px;
    display:inline-block;
    color:white;
}
ul.redBar p{
    text-align:left;
    display:inline-block;
    font-size:14px;
    color:white;
    font-family:"Open Sans", sans-serif
}
.slider {
    width:900px;
    margin: 20px auto;
    padding-top:40px;
    color: white;
}
.item{
    background-color:#EEEEEE;
    height:350px;
    border-left:white solid 10px;
    border-right:white solid 10px;
    text-decoration:none;
}
.item h1 {
    text-decoration:none;
    padding-top:10px;
    font-family:"Open Sans", sans-serif;
    text-align:center;
    font-size:23px;
    color:black;
}
.item p{
    font-family:"Open Sans", sans-serif;
    color:black;
    text-align:center;
    font-size:18px;
    padding-left:80px;
}
.item img{
    padding-left:110px;
    padding-top:20px;
    padding-bottom:20px;
}
.item p, .item i{
    text-decoration:none;
    padding-top:10px;
    text-align:center;
    display:inline-block;
}
.item i{
    padding-left:10px;
    color:#E30613;
    font-size:25px;
}
.item:hover{
    background-color:lightgray;
}